---
import Main from "../layouts/Main.astro";
const pageTitle = "About-Me";
---

<Main pageTitle={pageTitle}>
  <div class="flex flex-col w-full h-full justify-center items-center">
    <img
      src="/IMG_3959.jpg"
      alt="Picture of Me"
      width="500rem"
      height="auto"
      class="p-10"
      draggable="false"
    />
    <h1 class="text-8xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-transparent bg-clip-text animate-typewriter ">About Me</h1>
    <p class="p-10 text-center w-1/2 text-xl">
      Hi, my name is Joshua La, I'm currently a junior at Novi High-school. I'm building this website
      to showcase some of my passions such as my bass clarinet playing, photography, and coding projects. Check back often for updates!
    </p>
  </div>
  <footer class="flex justify-center items-center">
    <a href="https://github.com/monkeyboy120" class="hover:text-black text-xl text-white">My Github</a>
  </footer>
</Main>
