---
import BlogCard from "../components/BlogCard.svelte";
import Test from "../components/Test.svelte";
import Main from "../layouts/Main.astro";
const pageTitle = "Blog";

---

<Main pageTitle = {pageTitle}>
    <BlogCard />    
</Main>