---
import BlurryBubbles from "../components/BlurryBubbles.astro";
import Main from "../layouts/Main.astro";
const pageTitle = "Home";

---

<Main pageTitle = {pageTitle}>
    <BlurryBubbles />
</Main>