---
import Main from "../layouts/Main.astro";
const pageTitle = "Home";
import "../styles/global.css";
---

<Main pageTitle={pageTitle}>
  <div class="flex justify-center">
    <h1 class="text-8xl text-white animate-pulse">Welcome</h1>
  </div>
</Main>
