---

import PhotoSlide from "../components/PhotoSlide.svelte";
import Main from "../layouts/Main.astro";
const pageTitle = "Photography";

---

<Main pageTitle = {pageTitle}>
    <PhotoSlide client:load/>
</Main>