<div class="absolute top-0 w-full h-16 flex items-end justify-end bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
  <a
    href="/"
    class="text-white text-decoration-none text-2xl p-4 inline-block hover:text-black"
    >Home</a
  >
  <a
    href="/about-me/"
    class="text-white text-decoration-none text-2xl p-4 inline-block hover:text-black"
    >About</a
  >
  <a
    href="/photography/"
    class="text-white text-decoration-none text-2xl p-4 inline-block hover:text-black"
    >Photography</a
  >
  <a
    href="/music/"
    class="text-white text-decoration-none text-2xl p-4 inline-block hover:text-black"
    >Music</a
  >
  <a
    href="/programming/"
    class="text-white text-decoration-none text-2xl p-4 inline-block hover:text-black"
    >Programming</a
  >
  <a
    href="/blog/"
    class="text-white text-decoration-none text-2xl p-4 inline-block hover:text-black"
    >Blog</a
  >
</div>
