<div class = "navbar">
    <a href = "/" class = 'navlink'>Home</a>
    <a href = "/about-me/" class = 'navlink'>About</a>
    <a href = "/photography/" class = 'navlink'>Photography</a>
    <a href = "/music/" class = 'navlink'>Music</a>
    <a href = "/blog/" class = 'navlink'>Blog</a>
    <a href = "/programming/" class = 'navlink'>Programming</a>
</div>

<style>
    .navbar {
        background-color: #E37500;
        position: absolute;
        top: 0;
        width: 100%;
        height: 4rem;
        align-items: flex-end;
        display: flex;
        align-content: flex-end;
        justify-content: end;
    }

    .navlink {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem;
        display: inline-block;
            }
</style>