---
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
---

<html lang="en" class="text-white bg-[#0a1828] font-sans">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="h-16 w-full">
      <Navigation />
    </div>
    <article>
      <div class="flex flex-col justify-center items-center p-10">
        <slot />
      </div>
    </article>
  </body>
</html>
